$desktop-width: 960px;

//General css variables
$page-bg: rgba(245, 248, 248, 1);
$panel-bg: rgba(255, 255, 255, 1);
$default-font: 'Roboto',sans-serif;
$default-font-size: 15px;
$default-color: rgba(153, 154, 155, 1);

$disabled-color: #c0c0c0;
$primary-color: rgba($color: #5482E2, $alpha: 1.0);

$profile-info-left-pad: 160px;

body {
    font-family: $default-font;
    font-size: $default-font-size;
    color: $default-color;
    background-color: $page-bg;
}

header {
    margin: 0;
}

a {
    text-decoration: none;

    &:visited {
        color: #fff;
    }
}

.hide{
    display: none;
}

span.edit,
span.edit span {
    cursor: pointer;
    font-weight: bold;
    background-color: #E6EEF2;
}

@mixin mobile{
    @media screen and (max-width: #{$desktop-width - 1}) {

        $default-header-margin-left: 20px;
        $mobile-primary-color: #0466DF;

        body{
            background-color: #F2F6F8;
            font-size: 12px;
        }
        
        .desktop {
            display: none;
        }

        header {
            margin-bottom: 20px;
        }

        .main-container{
            margin: 20px -10px 0 -10px;
        } 

        .button{
            border: none;
            background-color: transparent;
            color: $mobile-primary-color;
        }

        .button--state-primary{
            font-weight: bold;
            text-transform: uppercase;
        }

        .button--state-primary-reverse{
            font-weight: bold;
            text-transform: uppercase;
        }

        .logout-container{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            margin: 0 $default-header-margin-left;
        }

        .upload-button-container{
            display: none;
        }

        .profile {
            margin-top: 20px;

            .profile-image-container{
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    width: 120px;
                    height: 120px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                }
            }

            .profile-info{
                margin: 15px $default-header-margin-left;

                span {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 12px;

                    ion-icon{
                        margin-right: 8px;
                    }
                }

                span.profile-name{
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 16px;
                    color: #31353A;
                }
            }

            .profile-reviews{
                margin-left: $default-header-margin-left;
                font-size: 13px;

                .review-stars{
                    color: #0C66E0;
                    margin-bottom: 7px;
                    font-size: 18px;
                }
            }

            .profile-tabs{
                margin-top: 15px;
                width: 100%;
                display: flex;
                flex-direction: column-reverse;

                .followers{
                    font-size: 14px;
                    margin-bottom: 15px;
                    margin-left: $default-header-margin-left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    ion-icon{
                        font-size: 20px;
                        margin-right: 10px;
                    }

                    span {
                        margin-right: 7px;
                    }
                }

                ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    overflow-x: scroll;
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                    li{
                        margin: auto $default-header-margin-left;
                        text-transform: uppercase;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 45px;
                    }

                    li.selected{
                        border-bottom: 1px solid #2D8AF6;
                    }
                }
            }
        }

        .tab-content{
            background-color: #fff;
            border-top: 1px solid #C6D4E3;
            border-bottom: 1px solid #C6D4E3;
            padding: 20px;

            span {
                margin-bottom: 15px;
            }

            .about-user{
                > div.title {
                    display: flex;
                    padding: 0;
                    justify-content: flex-end;
                    align-items: center;
                }

                .title {
                    font-size: 18px;
                    margin-right: auto;
                }

                .edit {
                    font-size: 17px;
                    font-weight: bold;
                    padding: 5px;
                }

                .profile-info{
                    display: flex;
                    flex-direction: column;

                    span{
                        font-size: 14px;
                    }

                    .profile-name{
                        font-weight: bold;
                        font-size: 15px;
                        color: #30353A;
                    }
                }
            }
        }

        .about-user-edit{
            > div.title{
                display: flex;
                padding: 0;
                justify-content: flex-end;
                align-items: center;
            }

            .title{
                font-size: 18px;
                margin-right: auto;
            }

            span.button {
                font-size: 13px;
                margin-left: 10px;
                font-weight: 400;
            }

            .user-edit-form{
                .edit-item{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    margin-bottom: 15px;

                    span{
                        margin-bottom: 8px;
                        text-transform: uppercase;
                        font-size: 11px;
                    }

                    input[type="text"]{
                        border: none;
                        border-bottom: 1px solid #D1DBE7;
                        outline: none;
                        padding-bottom: 6px;

                        &:focus{
                            border-bottom: 1px solid $mobile-primary-color;
                        }
                    }
                }
            }
        }
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {

        .mobile{
            display: none;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .main-container {
            width: $desktop-width;
            margin: 0 auto;
            margin-top: 60px;
        }

        .box {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        .panel {
            background-color: $panel-bg;
            margin-top: 20px;
            border-radius: 3px;
        }

        .button {
            display: inline-block;
            border-radius: 3px;
            padding: 7px 15px;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            color: #fff;
            font-size: 10px;
            cursor: pointer;

            &:hover {
                border: 1px solid black;
            }
        }

        .button--state-primary {
            font-weight: bold;
            text-transform: uppercase;
        }

        .button--state-primary-reverse {
            font-weight: bold;
            background-color: #fff;
            text-transform: uppercase;
            color: $primary-color;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }

        .button--state-disabled {
            color: $disabled-color;
            border: 1px solid $disabled-color;
            background-color: #fff;
        }

        .button--upload-img {
            ion-icon {
                margin-top: 2px;
                margin-right: 10px;
            }
        }

        .logout-container {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            margin-right: 15px;
            padding: 20px 0;
        }

        .upload-button-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .profile {
            margin-top: 20px;
            position: relative;

            >div {
                padding-left: $profile-info-left-pad;
            }

            .profile-image-container {
                position: absolute;
                left: 8px;
                bottom: 12px;
                padding-left: 0;
                width: 120px;
                height: 120px;

                .profile-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .profile-summary {
                display: flex;

                .profile-info {
                    width: 76%;
                }

                span {
                    display: block;
                    margin-bottom: 10px;
                }

                .profile-name {
                    font-weight: bold;
                    color: #172026;
                }

                span:not(.profile-name) {
                    font-size: 11px;

                    ion-icon {
                        margin-right: 5px;
                    }
                }

                .profile-reviews {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 15px;
                    }

                    .review-stars {
                        ion-icon {
                            margin-right: 5px;
                        }
                    }

                    .review-count {
                        span {
                            font-weight: bold;
                        }
                    }
                }

            }


            .profile-tabs {
                border-top: 1px solid $disabled-color;
                padding-top: 15px;
                padding-bottom: 10px;
                height: 20px;
                display: flex;
                align-items: flex-start;

                ul {
                    overflow: hidden;
                    width: 85%;

                    li {
                        float: left;
                        margin: 0 13px;
                        padding-bottom: 9px;
                    }

                    li.selected {
                        border-bottom: 1px solid #2D8AF6;
                    }

                    li:first-child {
                        margin-left: 0;
                    }

                    a {
                        display: block;
                        padding: 3px;
                        color: #4C4F55;
                        font-size: 12px;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }

                .followers {
                    font-size: 10px;

                    ion-icon {
                        font-size: 18px;
                    }

                    span {
                        font-weight: bold;
                        margin: 0 7px;
                    }
                }

            }
        }

        .tab-content {
            padding: 30px;
            height: 450px;

            .about-user {
                .title {
                    margin-bottom: 20px;
                }

                div:not(.title) {
                    margin-bottom: 12px;
                }

                span:not(.title) {
                    font-size: 12px;
                    background-color: #F2F5F6;
                    padding: 6px 8px;
                    margin-right: -4px;
                }

                .profile-name {
                    font-weight: bold;
                }
            }
        }


        .edit {
            position: relative;

            &>span {
                cursor: pointer;
                font-weight: bold;
            }

            .popover-body {
                display: none;
                text-decoration: none
            }
        }

        .edit.active {
            .popover-body {
                position: absolute;
                border-radius: 3px;
                display: flex;
                flex-flow: row wrap;
                background: #fff;
                width: 200px;
                padding: 10px;
                top: -10px;
                left: 10px;
                z-index: 10;

                .popover-close {
                    margin-left: auto;
                    cursor: pointer;
                }

                .popover-title {
                    order: -1;
                    flex: 0 0 190px;

                    span {
                        background-color: #fff;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 10px;
                    }
                }

                .popover-content {
                    flex: 0 0 200px;

                    input[type="text"] {
                        width: 100%;
                        border: 0;
                        border-bottom: 1px solid #E8ECF3;

                        &:focus {
                            outline: none;
                            border-bottom: 1px solid #2D8AF6;
                        }
                    }
                }

                .popover-buttons {
                    width: 100%;

                    button {
                        margin-right: 15px;
                    }
                }
            }

            &:before {
                position: absolute;
                content: '';
                left: 0;
                border-style: solid;
                border-width: 10px 10px 10px 0px;
                border-color: transparent #fff transparent transparent;
            }
        }
    }
}

@include mobile();
@include desktop();